 {% load static %}
 <!-- Navbar -->
 <nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
    <div class="container">
      <a class="navbar-brand" href="{% url 'login' %}">
        <img src="{% static 'img/logo_1.png' %}" class="logo" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav">
          <li 
            {% if 'exams/' == request.path %}
              class="nav-item active mr-3"
            {% else %}
              class="nav-item  mr-3"
            {% endif %}
          >
            <a class="nav-link" href="{% url 'instruction' %}">Instructions</a>
          </li>
          <li 
            {% if 'question/' in request.path %}
              class="nav-item active mr-3"
            {% else %}
              class="nav-item  mr-3"
            {% endif %}
          >
            <a class="nav-link" href="{% url 'question' %}">Questions</a>
          </li>
        </ul>

        <ul class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
          <li class="text-white p-2">
            <i class="fas fa-user "></i> {{ user.username }}
          </li>
          {% endif %}
          
          <li
            {% if 'logout' in request.path %}
              class="nav-item active mr-3"
            {% else %}
              class="nav-item  mr-3"
            {% endif %} 
          >
            <a class="nav-link" href="javascript:{document.getElementById('logout').submit()}">
              <i class="fas fa-sign-in-alt"></i>
              Logout</a>
              <form action="{% url 'logout' %}" method="POST" id="logout">
                {% csrf_token %}
                <input type="hidden">
              </form>
          </li>
        </ul>
      </div>
    </div>
  </nav>