{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <!-- Custom -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/instructions.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">
    <title>Busitema | Online Examination</title>
</head>

<body>

    <!-- Top bar -->
    {% include 'partials/_topbar.html' %}
    <!-- Nav bar -->
    {% if '/' == request.path %}
        {% include 'partials/_navbar_login.html' %}
    {% elif '/logout' in request.path %}
        {% include 'partials/_navbar_logout.html' %}
    {% elif '/change_password' in request.path %}
        {% include 'partials/_navbar_change_password.html' %}
    {% elif '/activate' in request.path %}
        {% include 'partials/_navbar_change_password.html' %}
    {% else %}
        {% include 'partials/_navbar.html' %}
    {% endif %}
    <!-- Main Content -->
    {% block content %}
    {% endblock %}
    <!-- Footer -->
    {% include 'partials/_footer.html' %}

    <script src="{% static 'js/jquery-3.3.1.min.js' %} "></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %} "></script>
    <script src="{% static 'js/lightbox.min.js' %} "></script>
    <script src="{% static 'js/main.js' %} "></script>

</body>

</html>