{% extends 'base.html' %}

{% block content %}
    <section id="register" class="bg-light py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card">
            <div class="card-header bg-primary text-white">
              <h4>
                <i class="fas fa-user-plus"></i> Change your password to activate your account</h4>
            </div>
            <div class="card-body">
                <!-- Alerts -->
                {% include 'partials/_alerts.html' %}
                <form action="{% url 'change_password' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                  <label for="password2">Password</label>
                  <input type="password" name="password" class="form-control" required>
                  <input type="hidden" name="user" value="{{ user.username }}" class="form-control" required>
                </div>
                <div class="form-group">
                  <label for="password">Confirm Password</label>
                  <input type="password" name="password2" class="form-control" required>
                </div>
                <input type="submit" value="Change Password" class="btn btn-secondary btn-block">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}